@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --sidebar-width: 280px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
  --spacing-sidebar: var(--sidebar-width);
}

@layer base {
  html {
    @apply antialiased;
    scrollbar-width: thin;
    scrollbar-color: var(--color-foreground) transparent;
  }
  html::-webkit-scrollbar {
    width: 6px;
  }
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  html::-webkit-scrollbar-thumb {
    background-color: var(--color-foreground);
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .no-scrollbar {
    overflow: auto;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
