@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --sidebar-width: 280px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
  --spacing-sidebar: var(--sidebar-width);
}

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }
}
